:root
{
   --margin-sections-bottom: 60px;
   --section-items-background-color: rgba(0, 0, 0, 0.88);
   --section-flex-area-box-shadow: rgba(255, 255, 255, 0.927);
}

body{
    font-family: HeadersFont;
    background-image: url(images/Background/BackgroundImageSite.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    backdrop-filter: brightness(50%);
    margin: 0;
    padding: 0;
    max-width: 1920px;
    max-height: 1080px;
}

.header-main
{
    display: flex;
    background-color: rgb(0, 0, 0);
}

.logo-image
{
    border-bottom: 5px outset #ffffff;
    padding-bottom: 10px;
    margin-left: -10px;
}

.header-navigation-border
{
    text-align: center;
    background-color: rgb(0, 0, 0);
    width: 300px;
}

.sections-describe-h2
{
    font-size: 27px;
    color: #e6e5e5;
}

.header-background-video
{
    width: calc(100% - 305px);
    border-left: 5px outset #a9a9a9;
    object-fit: contain;
}

.header-h1
{
    width: 0;
    height: 0;
    font-size: 0;
    margin-bottom: 0;
    padding: 0;
}

.site-title-image
{
    margin-top: -30px;
    width: 100%;
    margin-bottom: 80px;
}

.navigation-elements
{
    color: #c9c7c7;
    text-align: center;
    font-size: 17px;
    display: block;
    padding: 25px 10px;
    height: 25px;
    text-decoration: none;
    width: 70%;
    margin: auto;
}

.navigation-elements:hover
{
    font-size: 18px;
    border-radius: 8px;
    border-style: solid;
    border-color: #ffffff;
    color:#ffffff
}

.navigation-list-elements
{
    list-style-type: none;
    overflow: hidden;
    padding: 0;
}

.world-and-races
{
    background-image: url(images/Background/WorldAndRacesBackground.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border-top: 3px outset #ffffff;
    border-bottom: 4px outset #ffffff;
    padding-top: 30px;
    margin-bottom: var(--margin-sections-bottom, 80px);
    justify-content: center;
}

.witchers
{
    background-image: url(images/Background/WitchersBackground.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border-top: 3px outset #ffffff;
    border-bottom: 4px outset #ffffff;
    background-color: #000000;
    padding-top: 30px;
    margin-bottom: var(--margin-sections-bottom, 80px);
    justify-content: center;
}

.mage-and-religions
{
    background-image: url(images/Background/MagicAndReligions.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border-top: 3px outset #ffffff;
    border-bottom: 4px outset #ffffff;
    background-color: #000000;
    padding-top: 30px;
    margin-bottom: var(--margin-sections-bottom, 80px);
    justify-content: center;
}

.additional-section
{
    background-image: url(images/Background/AdditionalBackgroundDarken.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border-top: 3px outset #ffffff;
    border-bottom: 4px outset #ffffff;
    padding-top: 30px;
    margin-bottom: var(--margin-sections-bottom, 80px);
    justify-content: center;
}

.section-h1
{
    border-style: solid;
    border-color: #ffffff;
    font-size: 25px;
    background-color: var(--section-items-background-color);
    margin: auto;
    color: #ffffff;
    padding: 20px 0;
    margin-bottom: 30px;
    width: 40%;
    border-radius: 50px;
}

.sections-descriptions-div
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-description
{
    display: flex;
    flex-direction: column;
    width: calc(100% - 250px);

}

.section-description-h2
{
    font-size: 30px;
    padding-top: 15px;
    padding-bottom: 180px;
    margin: auto;
    margin-bottom: -30px;
    text-align: center;
}

.section-description-p
{
    font-family: DescriptionFont;
    font-size: 17px;
    margin: auto;
    width: 80%;
}

.section-description-click-info
{
    color: dimgray;
    font-size: 14px;
    margin: auto;
    width: 80%;
}

.section-flex-area
{
    margin: auto;
    display: flex;
    width: 40%;
    border-style: solid;
    border-color: #a8a7a7;
    background-color: var(--section-items-background-color);
    border-radius: 30px;
    color:#ffffff;
    margin-bottom: 40px;
    cursor: pointer;
    overflow: hidden;
}

.section-flex-area:hover
{
    box-shadow: 0 0 30px var(--section-flex-area-box-shadow);
    border-color: #ffffff;
}

.section-image
{
    width: 250px;
    height: 350px;
    object-fit: cover;
}

.section-video
{
    width: 0;
    height: 0;
    object-fit: cover;
}

.world-description:hover .world-img
{
    width: 0;
    height: 0;
}

.world-description:hover .world-video
{
    width: 250px;
    height: 350px;
}

.races-description:hover .races-img
{
    width: 0;
    height: 0;
}

.races-description:hover .races-video
{
    width: 250px;
    height: 350px;
}

.witchers-description:hover .witchers-img
{
    width: 0;
    height: 0;
}

.witchers-description:hover .witchers-video
{
    width: 250px;
    height: 350px;
}

.mage-description:hover .mage-img
{
    width: 0;
    height: 0;
}

.mage-description:hover .mage-video
{
    width: 250px;
    height: 350px;
}

.religions-description:hover .religions-img
{
    width: 0;
    height: 0;
}

.religions-description:hover .religions-video
{
    width: 250px;
    height: 350px;
}

.books-description:hover .books-img
{
    width: 0;
    height: 0;
}

.books-description:hover .books-video
{
    width: 250px;
    height: 350px;
}

.trailers-description:hover .trailers-img
{
    width: 0;
    height: 0;
}

.trailers-description:hover .trailers-video
{
    width: 250px;
    height: 350px;
}

.characters-description:hover .characters-img
{
    width: 0;
    height: 0;
}

.characters-description:hover .characters-video
{
    width: 250px;
    height: 350px;
}

.official-witcher-sites-refs
{
    border-top: 3px outset #ffffff;
    background-color: rgba(30, 30, 30, 0.6);
    padding-top: 30px;
    margin-bottom: var(--margin-sections-bottom, 80px);
    border-bottom: 4px outset #ffffff;
}

.cards-hover-info-text
{
    color: #b7b6b6;
    font-size: 17px;
    text-align: center;
}

.refs-cards
{
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.ref-card {
    width: 300px;
    height: 400px;
    position: relative;
}

.card-content {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 5px 4px 10px rgb(52, 52, 52);
}

.witcher1:hover
{
    box-shadow: 5px 4px 10px rgb(4, 6, 80);
}

.witcher2:hover
{
    box-shadow: 5px 4px 10px rgb(207, 145, 39);
}

.witcher3:hover
{
    box-shadow: 5px 4px 10px rgb(255, 255, 255);
}

.card-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.ref-card:hover .card-image {
    transform: scale(1.1);
}

.card-overlay {

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    opacity: 0;
    transition: opacity 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ref-card-witcher-h2
{
    text-align: center;
    font-size: 20px;
    margin-bottom: 160px;
}

.ref-card-p {
    
    font-family: DescriptionFont;
    font-size: 16px;
    margin-bottom: 20px;
    width: 80%;
}

.ref-card-button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.card-overlay button:hover {
    background-color: #2d6c30;
}

.ref-card:hover .card-overlay {
    opacity: 1;
}

.support-footer
{
    border-top: 3px outset #ffffff;
    background-color: rgba(30, 30, 30, 1);
    padding-top: 30px;
}

.support-cards
{
    margin: auto;
    width: 55%;
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.support-card
{
    width: 200px;
    height: 300px;
    align-items: center;
    justify-content: center; 
    text-align: center;
    border-radius: 10px;
    border-style: solid;
    border-color: #ffffff;
}

.telegram
{
    --support-card-background-color: #0088cc;
}

.telegram:hover
{
    border-color: #0088cc;
}

.youtube
{
    --support-card-background-color: #cb1111f9;
}

.youtube:hover
{
    border-color: #cb1111f9;
}

.discord
{
    --support-card-background-color: #7289da;
}

.discord:hover
{
    border-color: #7289da;
}

.support-card:hover {
    
    transform: scale(1.05);
    animation: fadeInBackground 0.4s ease forwards;
    background-color: transparent;
}

.support-card:hover .support-card-button
{
    background-color: rgba(255, 255, 255, 0.2);
    border-color: #000000;
    border-style: solid;

}

.support-card-image
{
    margin-top: 15px;
    margin-bottom: 15px;
}

.support-card-h3
{
    margin: auto;
    width: 90%;
    color:#ffffff;
    padding: 5px 0;
}

.support-card-button
{
    margin-top: 30px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.support-card-button:hover
{
    color: #000000;
}

@font-face {
    font-family: HeadersFont;
    src: url(Fonts/PT_Serif/PTSerif-Bold.ttf);
  }

  @font-face {
    font-family: DescriptionFont;
    src: url(Fonts/Montserrat/static/Montserrat-Regular.ttf);
  }

@media (max-width: 800px)
{
    .header-navigation-border
    {
        width: 100%;
    }
    .header-background-video
    {
        width: 0%;
        border-left: none;
    }
    .logo-image
    {
        border-bottom: initial;
    }
    .section-h1
    {

        border-style: none;
    }
}

@media (max-width: 1430px)
{
    .header-h1
    {
        font-family: HeadersFont;
        width: 98%;
        height: 100%;
        font-size: 40px;
        background-color: #363636;
        padding-top: 25px;
        padding-bottom: 25px;
        border-radius: 2px;
        margin: 0;
        margin-bottom: 80px;
        color: #e6e5e5;
        border: 4px solid #787878;
        margin: auto;
        text-shadow: 2px 2px 3px black;
    }

    .site-title-image
    {
        margin-top: 0;
        width: 0;
        margin-bottom: 0;
        height: 0;
    }
}

@media (max-width: 450px)
{
    .section-image
    {
        width: 180px;
    }

    .section-description
    {
        width: calc(100% - 180px);
    }

    .section-h1
    {
        width: 0;
    } 
    
    .navigation-elements:hover
    {
        font-size: 17px;
        border-color: transparent;
        color: #c9c7c7;
    }

}

@media (max-width: 600px)
{
    .section-h1
    {
        border-style: none;
        width: 80%;
    }

}

@media (max-width: 930px)
{
    .refs-cards
    {
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
    }
    
    .ref-card 
    {
        margin-bottom: 20px;
    }

}

@media (max-width: 1300px)
{
    .section-description-click-info
    {
        font-size: 0;
        padding: 0;
        margin: 0;
    }

    .section-description-h2
    {
        font-size: 23px;
        padding-top: 0;
        padding-bottom: 90px;
    }

    .section-description-p
    {
        font-size: 16px;
    }

}

@media (max-width: 1100px)
{

    .section-flex-area
    {
        width: 90%;
    }

    .support-cards
    {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .support-card
    {
        margin-bottom: 20px;
    }

}

@keyframes fadeInBackground {
    0% {
        background-color: transparent;
    }
    100% {
        background-color: var(--support-card-background-color) 
    }
}

.fade-out-background {
    animation: fadeOutBackground 0.4s forwards; 
}

@keyframes fadeOutBackground {
    0% {
        background-color: var(--support-card-background-color) 
    }
    100% {
        background-color: transparent;
    }
}


